<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIImagePickerViewControllrtTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6249A3371BD0978600A3F78A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6249A3501BD0978600A3F78A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6249A35B1BD0978600A3F78A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
